APP_NAME=Load Developer Sheets API
APP_ENV=development
APP_PORT=8080
APP_BASE_PATH=/api

DB_HOST=localhost
DB_PORT=5432
DB_USER=loaddev
DB_PASSWORD=loaddevpass
DB_NAME=loaddevdb
DB_SSLMODE=disable
DB_TIMEZONE=Asia/Jakarta
DB_RUN_MIGRATIONS=true

JWT_SECRET=change-this-secret-before-production
JWT_ISSUER=load-developer-sheets
JWT_ACCESS_TOKEN_TTL=24h

